# Supabase Credentials
VITE_SUPABASE_URL=https://rjvzpwoajzdmreprzsuh.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqdnpwd29hanpkbXJlcHJ6c3VoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MzEzNjUsImV4cCI6MjA5NjEwNzM2NX0.MspDefafahJnGQuVzse_Ry2oLqInXhY14VxmU4Oq7Iw
